.content {

    font-family: "Droid Sans", sans-serif;
    background-color: #ebf3f9;
    padding: 10px;
    margin: 0 0 10px 0;
}
.content a{

    font-family: "Droid Sans", sans-serif;
    text-decoration: none;
    color: #009900;

}

.content header{
    color: #0F6AB4;
    background-color: #87CEFA;
    font-family: "Droid Sans", sans-serif;
}

.content pre {
    font-family: "Droid Sans", sans-serif;
    background-color: #fcf6db;
    border: 1px solid #e5e0c6;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow:auto;
}
.content h1{
    color: #009900;
    font-family: "Droid Sans", sans-serif;

}
.content h3{
    color: #87CEFA;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}
.content h4{
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;

}

.pageHeader a{
    color: #87CEFA;
    font-family: "Droid Sans", sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}


